<%- include('link.ejs') %>
<link rel="stylesheet" href="/styles/admin.css">
<link rel="stylesheet" href="\styles\content.css">

<div class="row cointainer">
   
    <div class="col-lg-7">
        <div>
          <br>
          <br>
          <br>
          <br>
          <center>
            <div>
              <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
              <svg width="75px" height="75px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="512" cy="512" r="512" style="fill:#0047AB"/>
                   <path d="m458.15 617.7 18.8-107.3a56.94 56.94 0 0 1 35.2-101.9V289.4h-145.2a56.33 56.33 0 0 0-56.3 56.3v275.8a33.94 33.94 0 0 0 3.4 15c12.2 24.6 60.2 103.7 197.9 164.5V622.1a313.29 313.29 0 0 1-53.8-4.4zM656.85 289h-144.9v119.1a56.86 56.86 0 0 1 35.7 101.4l18.8 107.8A320.58 320.58 0 0 1 512 622v178.6c137.5-60.5 185.7-139.9 197.9-164.5a33.94 33.94 0 0 0 3.4-15V345.5a56 56 0 0 0-16.4-40 56.76 56.76 0 0 0-40.05-16.5z" style="fill:#fff"/>
              </svg>
             </div>
             <div>
              <h4 class="signup-header"><b>Admin Log In</b></h4>
              <br>
            <form action="/admin-login" method="post">
              <input class="form-deco"  type="text" name="username" placeholder="email / phone no">
              <br>
              <input class="form-deco" type="password" name="password" placeholder="password">
              <br>
              <button class="btn btn-primary btn-large button-deco">Log In</button>
            </form>
          <!-- <a href=""> forget password ? </a>
          <br>
          <a href="/signup">Create an account</a> -->
          
         </div>
          </center>
        </div>
    </div>
    <div class="col-lg-5 ">
      <div>
        <img src="/img/login.svg" height="550px" width="450px" alt="login image">
      </div>
  </div>
</div>