<%- include('link.ejs') %>
<link rel="stylesheet" href="/styles/admin.css">
<br>
<br>
<div class="container-fluid">
    <div class="row">
               <center>
                <div class="col">
                    <h2>Cash Out</h2>
                    <div>
               </center>
               <center>
                
                    <form action="/sipLumpsumpPop" method="post">
                        <input class="form-deco" type="text" name="ssid" value="<%= rootid %>" readonly hidden>
                          <br>
                        <lebel> transaction type</lebel>
                        <div>
                            <input type="radio" id="" name="catagory" value="Sell" checked />
                            <label for="huey">Lumpsum</label>
                        </div>
                          <input class="form-deco" type="text" name="name" value="<%= stockNamm %>" readonly>
                          <br>
                          <input class="form-deco" type="text" name="price" value="<%= stockPPrice %>" readonly>
                          <br>
                          <input class="form-deco" type="text" name="amount" placeholder="Enter Lumpsum amount" value="">                 
                          <br>
                          <input class="btn btn-danger button-deco" type="submit" value="submit">
                      </form>
                
               </center>
            </div>
        </div>
    </div>
</div>