<%- include('link.ejs') %>
<link rel="stylesheet" href="\admin.css">

<div class="container-fluid">
    <%- include('navbar.ejs') %>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col dashboard-header">
            <!-- <h2>Welcome Back !</h2> -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 dashboard-card">
            <div class="row">
            <div class="col-lg-6">
                <br>
                <p>Weekly Sales</p>
                <h3>$ 350 K</h3>
                <h3>3.5% +</h3>
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <i class="fa-solid fa-chart-simple fa-8x" style="color: #63E6BE;"></i>
            </div>
           </div>
        </div>
        <div class="col-lg-4 dashboard-card">
            <div class="row">
                <div class="col-lg-6">
                    <br>
                    <p>Total Order</p>
                    <h3>$ 35 K</h3>
                    <h3>7% +</h3>
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <i class="fa-solid fa-chart-pie fa-8x" style="color: #63E6BE;"></i>
                </div>
               </div>
             </div>
        <div class="col-lg-4 dashboard-card">
                <div class="row">
                <div class="col-lg-6">
                    <br>
                    <p>Monthly Sales</p>
                    <h3>$ 1550 K</h3>
                    <h3>4.5% +</h3>
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <i class="fa-solid fa-chart-line fa-8x" style="color: #63E6BE;"></i>
                </div>
                </div>
        </div>
        <div class="col-lg-4 dashboard-card">
            <div class="row">
            <div class="col-lg-6">
                <br>
                <p>Enquiry</p>
                <h3>455 Enquiry</h3>
                <h3>5% +</h3>
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <i class="fa-solid fa-message fa-8x" style="color: #63E6BE;"></i>
            </div>
           </div>
        </div>
        <div class="col-lg-4 dashboard-card">
            <div class="row">
            <div class="col-lg-6">
                <br>
                <p>Order Delivered</p>
                <h3>$ 250 K</h3>
                <h3>3.5% +</h3>
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <i class="fa-solid fa-check fa-8x" style="color: #63E6BE;"></i>
            </div>
           </div>
        </div>
        <div class="col-lg-4 dashboard-card">
            <div class="row">
            <div class="col-lg-6">
                <br>
                <p>Weather</p>
                <h3>18 Deg C</h3>
                <h3>3.5 C cooler </h3>
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <i class="fa-solid fa-cloud fa-8x" style="color: #63E6BE;"></i>
            </div>
           </div>
        </div>
        
    </div>
</div>

