<%- include('link.ejs') %>
<link rel="stylesheet" href="\styles\admin.css">

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Desi Economist dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Desi Economist dashboard</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           
              <div class="dropdown">
                <button class="dropbtn bg-dark ">Sip details</button>
                <div class="dropdown-content">
                  <a class="nav-link active button1 " href="/createSip">Create SIP</a>
                  <a class="nav-link active button1" href="/createSipDetails">SIP details</a>
                  <a class="nav-link active button1" href="/sip-transactions">SIP Transactions</a>
                  <a class="nav-link active button1" href="/cash-position">Cash Position</a>
                  <a class="nav-link active" href="/subscription">Subscriptions</a>
                  <a class="nav-link active button1" href="/create-card">Create Packages</a>
                  <a class="nav-link active button1" href="/manageAdmin">Manage Admin</a>
                  <a class="nav-link active button1" href="/contribution-allocation">Contribution/Allocation</a>
                </div>
              </div> 
            
            
              <div class="dropdown">
                <button class="dropbtn bg-dark ">Portfolio Details</button>
                <div class="dropdown-content">
                  <a class="nav-link active" href="/insert-stock">Insert 1st Stock</a>
                  <a class="nav-link active" aria-current="page" href="/create-portfolio">Create profile</a>
                </div>
              </div> 
            <li class="nav-item">
              <a class="nav-link active" href="/user-details">User Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="search-stock">Search Stock</a>
            </li> 
           <li class="nav-item">
            <a class="nav-link active" href="/manageAdmin">Manage Admin</a>
           </li>
            </li> <li class="nav-item">
                <a class="nav-link active" href="/logout-admin">Log Out</a>
            </li>
                       
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
  