<%- include('component/link') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="..\styles\content.css">
</head>
<body>
    <%- include('component/header') %>
    <h2>hello >> This is ejs tamplet and my name is <%= name %></h2>
    <button class="btn btn-primary"> button</button>
    
</body>
<footer>
    <%- include('component/footer') %>
</footer>
</html>
