<%- include('component/link') %>
<link rel="stylesheet" href="\styles\content.css">

<%- include('component/pre-nav') %>

<div>
    <div class="row">
        <div class="col-lg-6">
            <h1>Subscribe page</h1>
            <a href="/main-user">Redirect to main-user</a>
        </div>
    </div>
</div>