<%- include('component/link') %>
<link rel="stylesheet" href="\styles\content.css">

<%- include('component/pre-nav') %>
<section id="terms-condition">
    <div>
        <div class="row">
            <div class="col-lg-8">
                <center>
                  <h4 class="terms-cdn">Terms & Conditions</h4>
                </center>
            </div>
            <div class="col-lg-4 tc-image">
                
                    <img class="" src="/img/tc.svg" alt="image" width="90%">
                
            </div>
        </div>
    </div>
</section>