<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">
<section id="carasoul-section">
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <br>
      <br>
     
      
      <div class="carousel-item active row" data-bs-interval="10000">
        <!--<img src="\img\download.jfif" class="d-block w-100 h-50" alt="..."> -->
        <div class="col-lg-8">
          <h2 class="header-h2">Anyone can be a Millionaire</h2>
        <h5 class="header-h5">By investing consistently for long term</h5>
        <br>
        <h5 class="header-h5-helper">This investing framework has worked wonderfully for us, and we believe you can reach your goals faster or your returns can also be transform into multi millions</h5>
        <br>
        <button class="btn btn-dark btn-lg header-carasoul">Explore Now</button>
        </div>
        <div class="col-lg-4">
          <img src="" class="" alt="image">
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="2000">
        <!--<img src="\img\download.jfif" class="d-block w-100 h-50" alt="..."> -->
        <div>
          <h2 class="header-h2">Wealth Creation Mission</h2>
          <br>
          <h5 class="header-h5-helper">Establishing a sense of financial security. knowing their future is secureSo, you can live your life fully and Focus on what truly matters: relationships, health, and personal growth.</h5>
          <br>
          <button class="btn btn-dark btn-lg header-carasoul">Explore Now</button>
        </div>
      </div>
      <div class="carousel-item">
       <!--<img src="\img\download.jfif" class="d-block w-100 h-50" alt="..."> -->
       <div>
        <h2 class="header-h2">How Does This Work ?</h2>
        <br>
        <h5 class="header-h5-helper">Invest in promising growth equities Allow investments to grow and mature Free up cash from successful investments Redirect funds to new growth opportunities</h5>
        <br>
        <button class="btn btn-dark btn-lg header-carasoul">Explore Now</button>
      </div>
      </div>
      <div class="carousel-item">
        <!--<img src="\img\download.jfif" class="d-block w-100 h-50" alt="..."> -->
        <div>
          <h2 class="header-h2">Framework Highlights</h2>
          <br>
          <h5 class="header-h5-helper">Have Patient</h5>
          <h5 class="header-h5-helper">Invest Consistently</h5>
          <h5 class="header-h5-helper">Let Your Winners Win</h5>
          <h5 class="header-h5-helper">Diversify Your Investments</h5>
          <br>
          <button class="btn btn-dark btn-lg header-carasoul">Explore Now</button>
       </div>
       </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>