<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">

<section id="cred">
    <img class="cred_image" src="image/BSN.png" height="100px" width="200px" alt="Cred image">
    <img class="cred_image"src="image/fbs.png" height="100px" width="200px" alt="Cred image">
    <img class="cred_image"src="image/tcs3.png" height="100px" width="200px" alt="Cred image">
    <img class="cred_image"src="image/tsl.png" height="100px" width="200px" alt="Cred image">
  
  </section>