<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">
<div>
    <div class="row">
        <div class="col">
            <br>
            <center>
                <h2 id="font-for-framework"><b>FRAMEWORK DETAILS:</b></h2>
            </center>
        </div>
    </div>

    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <!-- carousel button -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: #f9400d;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: #f9400d;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: #f9400d;"></button>
              </div>
            
           <!-- carousel button end -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <section id="framework-structure">
                    <div>
                        
                        <div class="row">
                            <div class="col">
                                <br>
                                <center>
                                    <h3 id="money"><b>Step 1: Know how to move your money:</b></h3>
                                </center>
                                <p>
                                        This is not completely passive investing method, therefore, aiming to
                                        optimize returns we would need to move money from time to time.
                                        Here's a breakdown of the allocation structure and diversification
                                        examples:
                                </p>
                            </div>
                        </div>
                        <div class="row">    
                         <div class="col">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-lg-3 col-sm-2">
                                                    <div class="">
                                                        <i class="fa-solid fa-gears fa-6x arrow-deco" style="color: #1ed52b;"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-sm-2">
                                                     <div class="key-benefit-text">
                                                        <h4><b>CASH POSITION (0-20%):</b></h4>
                                                        <p class="key-benefit-paragraph">Adjust based on S&P 500 PE Ratio.</p>
                                                        <ul>
                                                            <li>
                                                                20% when PE >25(overvalued)
                                                            </li>
                                                            <li>
                                                                10% when PE >22 (moderately overvalued)
                                                            </li>
                                                            <li>
                                                                5% when PE >18(fairly valued)
                                                            </li>
                                                        </ul>
                                                     </div>
                    
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                
                                        <div class="row">
                                            <br>
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-5">
                                                <div class="row">
                                                    <div class="col-lg-2 col-sm-2">
                                                        <i class="fa-solid fa-gears fa-6x arrow-deco" style="color: #1ed52b;"></i>
                                                    </div>
                                                    <div class="col-lg-10 col-sm-2">
                                                         <div class="key-benefit-text-2">
                                                            <h4><b>GOLD POSITION (5%):</b></h4>
                                                            <p class="key-benefit-paragraph">Between 5 to 15% allocation (based on geopolitical,
                                                                inflation or currency etc. Situation).</p>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-7"></div>
                                                <div class="col-lg-5">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-sm-2">
                                                            <i class="fa-solid fa-gears fa-6x arrow-deco" style="color: #1ed52b;"></i>
                                                        </div>
                                                        <div class="col-lg-10 col-sm-2">
                                                             <div class="key-benefit-text-3">
                                                                <h4><b>EQUITY POSITION (65-100%)</b></h4>
                                                                <p class="key-benefit-paragraph">Fills remaining allocation after cash and gold.</p>
                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                </section>
                
              </div>
              <div class="carousel-item">
                <section id="diversification">
                    <div id="diver-deco">
                        <center>
                            <h3><b>Step 2: Diversification</b></h3>
                        </center>
                    </div>
                    <div>
                        <center>
                            <h4>
                                It's important to spread our investments. Here is example how we diversify in this 
                                framework
                            </h4>
                        </center>
                    </div>
                    <br>
                    <br>
                    <div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="row diver-expo">
                                    <h4 class=""><b>
                                        International Exposure (20%)
                                    </b></h4>
                                    <div>
                                        <ul>
                                            <li>China: 5%</li>
                                            <li>Emerging Markets: 5%</li>
                                            <li>Africa: 5%</li>
                                            <li>Europe: 5%</li>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                    <br>
                                    
                                <div class="row diver-expo"> 
                                    <h4><b>
                                        Sector Allocation:
                                    </b></h4>
                                    <div>
                                        <ul>
                                            <li>Maximum Sector Investment: 20%</li>
                                            <li>Technology: 10%</li>
                                            <li>Health Care: 5%</li>
                                            <li>Maximum Sector Exposure: 50%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="img/2.png" height="350px" width="350px" alt="image">
                            </div>
                            <div class="col-lg-4">
                                <div class="row diver-expo">
                                    <h4 class=""><b>
                                        Stock Allocation:
                                    </b></h4>
                                    <div>
                                        <ul>
                                            <li>Maximum Stock Investment: 5%</li>
                                            <li>Google: 5%</li>
                                            <li>Uber: 2%</li>
                                            <li>Maximum Stock Exposure: 20%</li>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                    <br>
                                    
                                <div class="row diver-expo"> 
                                    <h4><b>
                                        ETF Allocation:
                                    </b></h4>
                                    <div>
                                        <ul>
                                            <li>Maximum Index ETF Investment: 10%</li>
                                            <li>QQQ: 5%</li>
                                            <li>EEM: 5%</li>
                                            <li>Maximum Sector ETF Investment: 10%</li>
                                            <li>XLE: 5%</li>
                                            <li>XLP: 2%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="carousel-item">
                <section id="framework-approach">
                    <div>
                        <br>
                        <br>
                        <div class="row">
                           <div class="approach-header">
                            <center><h3><b>Step 3: Invest Grow and Free Your Investments</b></h3></center>
                           </div>
                           <div>
                            <center>
                                <br>
                                <h3>
                                    This investing framework outlines a disciplined and patient
                                    approach to investing. Here's breakdown of each phase with example:
                                </h3>
                                <br>
                            </center>
                           </div>
                           <div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div><i class="fa-sharp fa-solid fa-circle-check Investment-famework fa-2x" style="color: #0047AB;"></i></div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="dic-color" ><h4>Invest Your Money</h4></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                            <div class="content-class">
                                                <ul>
                                                    <li>
                                                        For example you invest $200 monthly via Systematic Investment Plan (SIP) into ABC stock.
                                                    </li>
                                                    <li>
                                                        Continue for 2 years or until the investment reaches $5,000.
                                                    </li>
                                                    <li>
                                                        Let's assume our buying avarage price $100.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div><i class="fa-sharp fa-solid fa-circle-check Investment-famework fa-2x" style="color: #1ff967;"></i></div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="dic-color-2" ><h4>Cash Out & Free Your Investments</h4></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                            <div class="content-class">
                                                <ul>
                                                    <li>
                                                        For instance when ABC stock reaches $300(3x initial investment),
                                                        cash out the original $5000.
                                                    </li>
                                                    <li>
                                                        Leaves the remaining $10,000 invested in ABC stock for the long term.
                                                        Now that's become your free investment.
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div><i class="fa-sharp fa-solid fa-circle-check Investment-famework fa-2x" style="color: #1ff967;"></i></div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="dic-color-2" ><h4>Keep Patience and Grow</h4></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                            <div class="content-class">
                                                <ul>
                                                    <li>
                                                        Wait's for the stock price to double (or ideally triple/quadraple),
                                                        may take many months to years.
                                                    </li>
                                                    <li>
                                                        Meanwhile you can monitor fundamentals to anicipate potential growth.
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div><i class="fa-sharp fa-solid fa-circle-check Investment-famework fa-2x" style="color: #0047AB;"></i></div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="dic-color" ><h4>Reinvest To Increase Your Holdings</h4></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                            <div class="content-class">
                                                <ul>
                                                    <li>
                                                       Reinvests the cashed-out $5000 into at least 4+ other
                                                       promising stocks via SIP.
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                   </section>
                 </div>
                    
              </div>
              <!-- button starts -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon color-decoration" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon color-decoration" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            
        <!-- button end -->
          </div>
           
    </div>
</div>

