<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">

<section id="footer"> 
<div class="container-fluid">
 <div class="row footer-fst-div">
     <div class="col">
         <h5>Get connected with social media</h5>
     </div>
     
    <div class="col footer-logo">
        <i class="fa-brands fa-facebook pre-nav-logo"></i>
        <i class="fa-brands fa-twitter pre-nav-logo"></i>
        <i class="fa-brands fa-linkedin pre-nav-logo"></i>
        <i class="fa-brands fa-youtube pre-nav-logo"></i>
    </div>
 </div>
 <div class="row footer-second-div">
    <div class="col-lg-4">
        <h3>Company Name</h3>
        <br>
        <p> We are the best finance advice company in Canada </p>
    </div>
    <div class="col-lg-2">
        <h3>Products</h3>
        <br>
        <p>Investment Guide</p>
        
        <p>Portfoilio Builder</p>
    </div>
    <div class="col-lg-2">
        <h3>Useful Links</h3>
        <br>
        <!-- <p>About Our services</p>
        <p>Terms and Conditions</p>
        <p>Get a callback</p> -->
        <a href="/services" class="footer-text">About Our services</a>
        <a href="/t&c" class="footer-text">Terms and Conditions</a>
        <a href="/callback" class="footer-text">Get a callback</a>
    </div>
    <div class="col-lg-4">
        <h3>Contacts</h3>
        <br>
        <p><i class="fa-duotone fa-solid fa-phone"></i>  +91 7678100471</p>
        <p><i class="fa-solid fa-house"></i> Address Of office</p>
        <p><i class="fa-solid fa-envelope"></i>babulac123@gmail.com</p>
    </div>
 </div>
 <div class="row footer-last-div">
   
    <h5>Copyright@ 2023 ! gurmeetsohi.com</h5>
 </div>
</div>


    
</section>