<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">

<div class="main-component">
<div class="main-h2">
    <center>
    <h2>INVESTING FRAMEWORK APPROACH</h2>
   </center>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-4 main-header">
        <center>
        <h3>Phase I</h3>
        <h3>Invest</h3>
        </center>
    </div>
    <div class="col-lg-8 main-content-li"> 
        <li>For example you Invests $200 monthly via Systematic Investment Plan (SIP) into ABC stock. </li>
        <li>Continues for 2 years or until the investment reaches $5,000. </li>
        <li>Let's assume our buying average price is $100.</li>
    </div>
    <br>
    <br>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-4 main-header">
        <center>
        <h3>Phase II</h3>
        <h3> Wait & Grow </h3>
        </center>
    </div>
    <div class="col-lg-8 main-content-li"> 
        <li>Waits for the stock price to double (or ideally triple/quadruple), may take many months to years.</li>
        <li>Meanwhile you can monitors fundamentals to anticipate potential growth. </li>
    </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-4 main-header">
            <center>
            <h3>Phase III</h3>
            <h3>Cash Out & Free Your Investment</h3>
            </center>
        </div>
        <div class="col-lg-8 main-content-li"> 
            <li>For instance when ABC stock reaches $300 (3x initial investment), cash out the original $5,000.  </li>
            <li>Leaves the remaining $10,000 invested in ABC stock for the long term. Now that’s become your free investment.  </li>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-4 main-header">
            <center>
            <h3>Phase IV</h3>
            <h3>Spread Your Wings</h3>
            </center>
        </div>
        <div class="col-lg-8 main-content-li"> 
            <li>Reinvests the cashed-out $5,000 into at least 4+ other promising stocks via SIP. </li>
        <br>
        <br>
    </div>
  </div>
</div>

</div>