<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">

<div class="container-fluid pre-nav-container">
    <div class="row">
        <div class="col-4" id="pre-nave-address"><h4>Gurmeet Sohi</h4></div>
        <div class="col" id="pre-nave-address"><h4>support@domain.tld</h4></div>
        <div class="col" id="pre-nave-address"><h4>+917678100471</h4></div>
        <div class="col">
            <i class="fa-brands fa-facebook pre-nav-logo"></i>
            <i class="fa-brands fa-twitter pre-nav-logo"></i>
            <i class="fa-brands fa-linkedin pre-nav-logo"></i>
            <i class="fa-brands fa-youtube pre-nav-logo"></i>
        </div>
    </div>
</div>