<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">
<section id="subscribe-portfolio">
  <div>
    <div class="port-deco">
        <br>
        <br>
        <center>
            <h2><b>BUT, WE KNOW IT'S NOT EASY...</b></h2>
        </center>
    </div>
    <div>
        <p>
           <center>
            Now you know the framework unlock phenomenal returns with our proven method.
            But staying on track with regular investments, maintaining optimal allocation, and 
            timely switching can be overwhelming, therefore we made it easy for you by just follow
            our portfolio updates.
           </center>
        </p>
    </div>
    <div>
        <h3><b>
            <center>
                SUBSCRIBE OUR PORTFOLIO TO GET
            </center>
        </b></h3>
    </div>
    <div id="margin-div">
        <div>
            <div class="row">
                <div class="col-lg-4 sub-mobile-deco ">
                    <div class="row ">
                        <div class="number-deco">
                            <center>
                                <br>
                                <h2 style="color: white;" ><b>1</b></h2>
                            </center>
                        </div>
                    </div>
                    <div class="row port-bottom ">
                        <div class="port-shape">
                            <h4><b>
                                <center>
                                    Our continuously updated portfolio holdings
                                </center>
                            </b></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sub-mobile-deco">
                    <center>
                        <div class="row ">
                            <div class="number-deco-2">
                                <center>
                                    <br>
                                    <h2 style="color: white;" ><b>2</b></h2>
                                </center>
                            </div>
                        </div>
                        <div class="row port-bottom ">
                            <div class="port-shape-2">
                                <h4><b>
                                    <center>
                                        <br>
                                        <br>
                                        Detailed investment insights: start date, SIP amount,
                                        total investment and more
                                    </center>
                                </b></h4>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-4 sub-mobile-deco">
                    <div class="row ">
                        <div class="number-deco">
                            <center>
                                <br>
                                <h2 style="color: white;" ><b>3</b></h2>
                            </center>
                        </div>
                    </div>
                    <div class="row port-bottom ">
                        <div class="port-shape">
                            <h4><b>
                                <center>
                                    Real-time alert for portfolio changes.
                                </center>
                            </b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-space">
        <br>
        <center>
            <a href="/product" class="btn btn-deco btn-success"><h3><b>EXPLORE MORE</b></h3></a>
        </center>
    </div>
  </div>
</section>