<%- include('link') %>
<link rel="stylesheet" href="\styles\content.css">

<section id="heighlights">
    <div>
        <div class="row">
            <div class="col-lg-4">
                <div class="landing-lighlights">
                    <center>
                        <br>
                        <br>
                        <div class="row">
                           <div class="margin-div">
                            <h2><b>WEALTH CREATION MISSION</b></h2>
                            <div>
                                <P>
                                    <br>
                                    Establishing a sense of financial security. Knowing their future is secure, so you can live
                                    your life fully and focus on what truly matters: reletionship, health and personal growth.
                                </P>
                            </div>
                           </div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="landing-lighlights-2">
                    <center>
                        <br>
                        <br>
                        <div class="row">
                           <div class="margin-div">
                            <h2><b>HOW DOES THIS WORK?</b></h2>
                            <div>
                                <P>
                                    <br>
                                    Invest in promising growth equities allow investments to grow
                                    and mature free up cash from successful investments. Redirect funds
                                    to new growth opportunities introducing.
                                </P>
                            </div>
                           </div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="landing-lighlights-3">
                    <center>
                        <br>
                        <br>
                        <div class="row">
                           <div class="margin-div">
                            <h2><b>FRAMEWORK HIGHLIGHTS</b></h2>
                            <div id="fm-highlights">
                                <br>
                                <ul>
                                    <li>Invest consistently</li>
                                    <li>Have Patience</li>
                                    <li>Let Your Winners Win</li>
                                    <li>Diversify Your Investments</li>
                                </ul>
                            </div>
                           </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>